# ignore default list
**/.gradle/
**/build/*

# ignore except
!**/.gitignore
!**/build/artifactory/
!**/build/libs/
!**/build/libs/*.jar
!**/build/libs/*.aar
!**/build/docs/
!**/build/docs/*
!**/build/classes/
!**/build/classes/*