out/
libs/
.gradle
build/*
!build/libs
!build/artifactory
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
.idea
*.iml
*.eml
*.ipr
*.iws
/.settings/
.DS_Store
credentials.properties
github.properties
Thumbs.db
/ftp.xml